<div>
    <h2 id="page-heading">
        <span jhiTranslate="gitReposApp.gitRepos.home.title">Git Repos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-git-repos" [routerLink]="['/git-repos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gitReposApp.gitRepos.home.createLabel">
            Create new Git Repos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gitRepos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gitReposApp.gitRepos.gitName">Git Name</span></th>
            <th><span jhiTranslate="gitReposApp.gitRepos.gitUrl">Git Url</span></th>
            <th><span jhiTranslate="gitReposApp.gitRepos.gitUser">Git User</span></th>
            <th><span jhiTranslate="gitReposApp.gitRepos.gitPass">Git Pass</span></th>
            <th><span jhiTranslate="gitReposApp.gitRepos.gitKey">Git Key</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gitRepos of gitRepos ;trackBy: trackId">
                <td><a [routerLink]="['/git-repos', gitRepos.id, 'view' ]">{{gitRepos.id}}</a></td>
                <td>{{gitRepos.gitName}}</td>
                <td>{{gitRepos.gitUrl}}</td>
                <td>{{gitRepos.gitUser}}</td>
                <td>{{gitRepos.gitPass}}</td>
                <td>{{gitRepos.gitKey}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/git-repos', gitRepos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/git-repos', gitRepos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'git-repos', { outlets: { popup: gitRepos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
